<form action="/articles" method="POST">
    <label for="articles">
    <p>Title: <input type="text" name="title"></p>
    <p>Content: <input type="text" name="content"></p>
    <input type="submit" value="submit">
</form>